@media only screen and (max-width: 990px) {
    .col {
        float: left;    }
  }


ul{ list-style-type: none; }


.custom-control-input{
    display: block;
}





/* 
Fonts:

font-family:"Lato", sans-serif;
font-family: arial, sans-serif;

Colors:

Light Blue: #71a1be;
Medium Blue: #005282;
Dark Blue: #05263a;
Pink: #f58c99;
 */